/* Custom Scrollbar Styling Start */
html::-webkit-scrollbar {
  width: 1.3vw;
}

html::-webkit-scrollbar-thumb {
  background-color: #CFF;
  border-radius: 100vw;

}

html::-webkit-scrollbar-thumb:hover {
  background-color: rgb(123, 192, 192);
  border-radius: 100vw;
}

html::-webkit-scrollbar-track {
  background-color: #FCC;
}
/* Custom Scrollbar Styling End */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(90deg, #CCFFFF, #FFCCCC);
  text-align: center;
  font-size: 30px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Homepage Styling Start */
#homepage-container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  gap: 20px 20px;
  flex-wrap: wrap;
}

.homepage-div {
  border: 5px black solid; 
  background-color: #2a6fb6;
  color: rgb(245, 235, 235);
  padding: 20px;
  margin: auto;
  height: 125px;
  width: 600px;
  text-align: center;
  font-weight: bold;
}

.homepage-text {
  font-size: 22px;
  font-weight: normal;
}

.homepage-div:hover {
  box-shadow: 0 10px 10px 5px rgba(255, 0, 0, 0.4);
}

#poke-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px 10px;
  justify-content: center;
  align-items: flex-end;
}

.poke-Li {
  border: 3px black solid;
  border-radius: 50px;
  width: 300px;
  padding: 10px;
  text-align: right;
  box-shadow: 10px 7.5px rgba(3, 3, 3, 0.15);
}

.poke-Li:hover {
  background-color: black;
  color: white;
}

.list-text {
  vertical-align: 20%;
}

#poke-arrow {
  position: absolute;
  left: 435px;
  /* display: none; */
}

input[type="text"] {
  height: 30px;
  text-align: center;
}

.officialImage {
  cursor: pointer;
}

.officialImage[jump='1'] {
  animation: jump 0.8s 1;
}

@keyframes jump {
  0% {transform: translateY(0px);}
  25% {transform: translateY(-50px);}
  50% {transform: translateY(0px);}
  75% {transform: translateY(-20px);}
  100% {transform: translateY(0px);}
}
/* .modal > .header {
  border-bottom: 1px solid gray;
  font-size: 18px;
  text-align: center;
  padding: 5px;
  background-color: #e5e5e5;
} */
/* .modal > .content {
  width: 100%;
  padding: 10px 5px;
}
.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
} */
/*PokedexInfo Divs*/
#pokedex-info-container {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  justify-content: center;
  gap: 10px 10px;
  margin-top: 20px;
}

.pokedex-info-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 500px;
  width: 500px;
  border: 5px black double;
  padding: 10px;
}

.type {
  border: 2px black solid;
  border-radius: 10%;
  padding: 3px;
  margin: 5px;
}

.ability-name {
  padding: 5px;
}

#add-to-team-button {
  animation-name: background-color-cycle;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  background-color: #CCFFFF;
  width: 175px;
  height: 25px;
}

@keyframes background-color-cycle {
  10% {background-color: #CCFFFF;}
  60% {background-color: #FFCCCC;}
  100% {background-color: #CCFFFF;}
}

/*End PokedexInfo Divs*/

/* Type Classes */
.normal {
  background-color: #a8a878;
}

.fighting {
  background-color: #c03028;
}

.flying {
  background-color: #a890f0;
}

.poison {
  background-color: #a040a0;
}

.ground {
  background-color: #e0c068;
}

.rock {
  background-color: #83701d;
}

.bug {
  background-color: #a8b820;
}

.ghost {
  background-color: #705898;
}

.steel {
  background-color: #b8b8d0;
}

.grass {
  background-color: #78c850;
}

.fire {
  background-color: #f08030;
}

.water {
  background-color: #6890f0;
}

.electric {
  background-color: #f8d030;
}

.psychic {
  background-color: #f85888;
}

.ice {
  background-color: #98d8d8;
}

.dragon {
  background-color: #7038f8;
}

.dark {
  background-color: #705848;
}

.fairy {
  background-color: #ee99ac;
}
/*End Type Classes*/
